/* 第1區 */
/* 手機版 */
#menu-switch {
    display: none;
}
.header-nav {
    padding: 5px 0;
}

@media screen and (max-width: 767px) {
    .header-nav {
        background-color: #EFCFD0;
        display: flex;
        justify-content: space-between;
        padding: 5px;
        position: relative;
    }
    .nav-logo {
        width: 70px;
        height: 70px;
    }
}
@media screen and (min-width: 768px) {
    .header-nav {
        margin: auto;
        background-color: #EFCFD0;
    }
    .nav-logo {
        width: 75px;
        height: 75px;
        margin: auto;
    }
}
.nav-logo img {
    width: 100%;
    vertical-align: middle;
}
/* ------------------文字導覽列手機版------------- */
@media screen and (max-width: 767px) {
    .nav-list {
        background-color: #EFCFD0;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 90%;
    }
    .nav-list a {
        font-size: 16px;
        color: #000;
        display: block;
        margin: 15px 0;
        text-align: start;
        text-decoration: none;
    }
    /* ----------------------------------------- */
    .nav-icon {
        margin: 20px 0;
    }
    .nav-icon a {
        color: #000;
        padding: 30px 15px;
        text-decoration: none;
    }
}
/* --------nav-list文字導覽列列平版橫式----------- */
@media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        justify-content: center;
    }
    .nav-list a {
        color: #000;
        font-size: 16px;
        font-family: sans-serif;
        text-decoration: none;
        background-color: #EFCFD0;
        display: block;
        padding: 5px 40px;
    }
    /* -------------------------------- */
    .nav-icon {
        position: absolute;
        top: 25px;
        right: 70px;
    }
    .nav-icon a {
        color: #000;
        padding-left: 20px;
        text-decoration: none;
    }
}
/* ------------nav-list 導覽列桌機版------------- */
@media screen and (min-width: 1024px) {
    .nav-list {
        background-color: #EFCFD0;
        display: flex;
        justify-content: center;
    }
    .nav-list a {
        color: #000;
        font-size: 16px;
        font-family: sans-serif;
        text-decoration: none;
        background-color: #EFCFD0;
        display: block;
        padding: 5px 60px;
    }
    /* -------------------------------- */
    .nav-icon {
        position: absolute;
        top: 25px;
        right: 225px;
    }
    .nav-icon input {
        border: 1px solid #000;
        border-radius: 10px;
        outline: none;
        display: none;
    }
    .nav-icon a {
        color: #000;
        padding-left: 20px;
        text-decoration: none;
    }
}
/* --------------------漢堡選單----------------- */
.hb {
    width: 35px;
    height: 35px;
    /* background-color: #eee; */
    background-color: #A3383C;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
}
.hb span {
    width: 80%;
    height: 2px;
    background-color: #fff;

}
#menu-switch:checked~header .header-nav .hb {
    background-color: #EFCFD0;
}

/* --------------hb選單手機版------------------ */
@media screen and (max-width: 767px) {
    .nav-list a+a {
        border-top: 1px solid #f3ebeb;
    }

    #menu-switch:checked~header .header-nav .nav-list {
        display: block;
    }
}
/* --------------hb選單桌機版(消失)------------- */
@media screen and (min-width: 768px) {
    .header-nav .hb {
        display: none;
    }

    .header-nav a+a {
        border-top: none;
    }

    #menu-switch:checked~header .header-nav .nav-list {
        display: flex;
    }
}
/* 第2區 banner */
.banner img {
    width: 100%;
    vertical-align: middle;
}
/*----------------------第3區-母親節花禮------------------- */
.section-festival {
    background-color: #FBF5F5;
}
.festival {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0 30px 0;
}
@media screen and (max-width: 767px) {
    .title-tc {
        font-size: 22px;
        text-align: center;
        font-family: sans-serif;
        padding: 5px 0;
    }
    .title-en {
        font-size: 16px;
        text-align: center;
        font-family: "simonetta";
    }
    .festival-pic {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        margin: 20px 0;
    }
    .cards {
        width: 200px;
        height: 200px;
    }
    .cards img {
        width: 100%;
        border-radius: 50%;
        vertical-align: middle;
    }
    .more-and {
        text-align: center;
        display: block;
        margin-top: 10px;
    }
    .more-and a {
        color: #000;
        font-size: 14px;
        font-family: sans-serif;
        text-decoration: none;
        background-color: #F1DFD5;
        padding: 10px 40px;
        border-radius: 3px;
    }
}
@media screen and (min-width: 768px) {
    .title-tc {
        font-size: 24px;
        text-align: center;
        font-family: sans-serif;
        padding: 5px 0;
    }
    .title-en {
        font-size: 22px;
        text-align: center;
        font-family: "simonetta";
        padding-bottom: 10px;
    }
    .festival-pic {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 10px 0;
    }
    .cards {
        width: 200px;
        height: 200px;
        margin: 0 20px;
        overflow: hidden;
    }
    .cards img {
        width: 100%;
        vertical-align: top;
        scale: 1;
        transition: .5s;
    }
    .cards:hover img {
        scale: 1.1;
    }
    .more-and {
        text-align: center;
        display: block;
        margin: 40px 0;
    }
    .more-and a {
        color: #000;
        font-size: 14px;
        font-family: sans-serif;
        text-decoration: none;
        background-color: #F1DFD5;
        padding: 10px 40px;
        border-radius: 3px;
    }
}

/*---------------------第4區 關於我們------------------------*/
.section-about-us {
    background-color: #F0E9E3;
}
.about-us {
    max-width: 1200px;
    padding: 40px 0;
    margin: auto;
}
@media screen and (max-width: 767px) {
    .about-us {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-us-info h2 {
        font-size: 18px;
        text-align: center;
        font-family: sans-serif;
    }
    .about-us-info h3 {
        font-size: 16px;
        font-family: "simonetta";
        text-align: center;
        margin-bottom: 10px;
    }
    .about-us-pic {
        width: 150px;
        height: 167px;
    }
    .about-us-pic img {
        width: 100%;
        border-radius: 100px 100px 0 0;
    }
    .about-us-txt {
        text-align: center;
        height: 150px;
        margin-left: 10px;
        padding: 50px;
    }
    .about-us-txt p {
        font-size: 14px;
        line-height: 25px;
        text-align: start;
        margin-bottom: 30px;
    }
    .about-us-txt a {
        color: #000;
        font-size: 14px;
        font-family: sans-serif;
        text-decoration: none;
        background-color: #F1DFD5;
        padding: 10px 40px;
        border-radius: 3px;
    }
}

@media screen and (min-width: 768px) {
    .about-us {
        width: 1200px;
        margin: auto;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-us-info {
        margin-top: -142px;
    }
    .about-us-info h2 {
        font-size: 24px;
        text-align: center;
        font-family: sans-serif;
        padding-top: 65px;
        padding-bottom: 10px;
    }
    .about-us-info h3 {
        font-size: 22px;
        text-align: center;
        padding-top: 2px;
        padding-bottom: 10px;
        font-family: "simonetta";
    }
    .about-us-pic {
        width: 250px;
        height: 267px;
    }
    .about-us-pic img {
        width: 100%;
        border-radius: 200px 200px 0 0;
    }
    .about-us-txt {
        text-align: center;
        height: 300px;
        margin-left: 40px;
        padding: 10px;
    }
    .about-us-txt p {
        font-size: 16px;
        line-height: 50px;
        text-align: start;
        margin-bottom: 30px;
    }
    .about-us-txt a {
        color: #000;
        font-size: 14px;
        text-decoration: none;
        background-color: #F1DFD5;
        padding: 10px 40px;
        border-radius: 3px;
    }
}

/*------------------- 第5區 花禮品項 ------------------------*/
.section-flower-items {
    background-color: #FFFCF7;
}
    .flower-items {
        max-width: 1200px;
        margin: auto;
        padding: 40px 0;
    }
    .card img {
        width: 100%;
        vertical-align: middle;
    }

@media screen and (max-width: 767px) {
    .flower-items-card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card {
        width: 165px;
        height: 165px;
        margin: 15px;
    }
    .card a {
        color: #000;
        font-size: 16px;
        font-family: sans-serif;
        text-decoration: none;
        display: block;
    }
}
@media screen and (min-width: 768px) {
    .section-flower-items {
        background-color: #FFFCF7;
    }
    .flower-items {
        width: 1200px;
        margin: auto;
        padding: 40px 0;
    }
    .flower-items-card {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .card {
        width: 265px;
        height: 265px;
        margin: 30px;
        /* position: relative; */
    }
    .card img { 
        width: 100%;
        vertical-align: middle;
        /* position: absolute; */
    }
    .card a {
        color: #000;
        font-size: 16px;
        font-family: sans-serif;
        text-decoration: none;
        display: block;
    }
    /* .flower-items-card .card::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: #0008;
        opacity: 0;
        transition: 0.5s;
    } */
        /* .flower-items-card:hover .card::after {
            opacity: 1;
        } */

}
/*--------------------- 第6區 花藝課程 ---------------------*/
.section-course {
    background-image: url(../images/material/dust.png);
    padding: 40px 0;
}

@media screen and (max-width: 767px) {
    .item {
        border-bottom: 1px solid #888;
        padding: 20px 0;
        margin: 0 30px;
        text-align: center;
    }
    .item-pic {
        width: 200px;
        height: 200px;
        margin: auto;
    }
    .item img {
        width: 100%;
        vertical-align: middle;
    }
    .item-card h4 {
        font-size: 22px;
        padding: 20px 0 10px;
    }
    .item-card p {
        font-size: 16px;
        line-height: 20px;
        padding: 5px 0 10px 0;
    }
    .course a {
        color: #000;
        font-size: 14px;
        font-family: sans-serif;
        text-decoration: none;
        background-color: #F1DFD5;
        border-radius: 3px;
        padding: 10px 40px;
        display: inline-block;
        margin: 20px 170px
    }
}
@media screen and (min-width: 768px) {
    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #888;
        padding: 20px 0;
    }
    .item-pic {
        width: 150px;
        height: 150px;
    }
    .item img {
        width: 100%;
    }
    .item-card {
        padding: 0 30px;
    }
    .item-card h4 {
        font-size: 1.5rem;
        /* font-size: 22px; */
        padding: 10px 0;
        font-family: sans-serif;
    }
    .item-card p {
        font-size: 1rem;
        /* font-size: 14px; */
        font-family: sans-serif;
        line-height: 20px;
    }
    .course a {
        color: #000;
        font-size: 14px;
        font-family: sans-serif;
        text-decoration: none;
        background-color: #F1DFD5;
        border-radius: 3px;
        padding: 10px 40px;
        display: inline-block;
        margin: 20px 550px
    }
    .course-top-pic-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .course-top-pic {
        width: 150px;
        height: 1500px;
    }
    .course-top-pic img {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .item {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid #888;
        padding: 20px 0;
        margin: 0 375px;
    }
    .item-pic {
        width: 200px;
        height: 200px;
    }
    .item img {
        width: 100%;
    }
    .item-card {
        padding: 30px;
    }
    .item-card h4 {
        font-size: 1.5rem;
        /* font-size: 22px; */
        padding: 10px 0;
        font-family: sans-serif;
    }
    .item-card p {
        font-size: 1rem;
        /* font-size: 14px; */
        font-family: sans-serif;
        line-height: 20px;
    }
    .course a {
        color: #000;
        font-size: 14px;
        font-family: sans-serif;
        text-decoration: none;
        background-color: #F1DFD5;
        border-radius: 3px;
        padding: 10px 40px;
        display: inline-block;
        margin: 20px 550px
    }
    .course-top-pic-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .course-top-pic {
        width: 200px;
        height: 200px;
        margin: 20px 0;
    }
    .course-top-pic img {
        width: 100%;
    }
}

/*-------------------第7區 創意花禮 ------------------*/
.section-creative {
    padding: 40px 0;
}

@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) {
    .section-creative {
        background-color: #F0E9E3;
    }

    .creative {
        width: 1200px;
        margin: auto;
        padding: 30px 0;
    }

    .creative-pic-list {
        width: 450px;
        height: 450px;
        display: flex;
        margin: 0 200px;
    }

    .creative-pic {
        width: 0px;
        font-size: 40px;
        flex-grow: 1;
        overflow: hidden;
        transition: 1s;
    }

    .creative-pic img {
        width: 100%;
    }

    .creative-pic:hover {
        flex-grow: 2;
    }
}

/* ------------------------------------------------- */
/* footer */
footer {
    background-color: #EFCFD0;
    padding: 10px 0;
}
@media screen and (max-width: 767px) {
    .footer-item-list {
        padding: 20px 20px;
    }
    .footer-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo {
        width: 60px;
        height: 60px;
    }
    .footer-logo img {
        width: 100%;
        vertical-align: middle;
    }
    .footer-info {
        text-align: center;
    }
    .footer-info h3 {
        font-size: 16px;
        font-family: sans-serif;
        padding-bottom: 10px;
    }
    .footer-info p {
        font-size: 14px;
        font-family: sans-serif;
        line-height: 20px;
        text-align: start;
    }
    /* 顧客服務 */
    .customer-service {
        padding: 10px 0 5px 0;
    }
    .customer-service h3 {
        font-size: 16px;
        text-align: center;
        padding: 10px 0 5px 0;
    }
    .customer-service a {
        color: #000;
        font-size: 14px;
        text-decoration: none;
    }
    /* 聯絡我們 */
    .footer-contact {
        padding: 10px 0 5px 0;
    }
    .footer-contact h3 {
        font-size: 16px;
        font-family: sans-serif;
        text-align: center;
        padding: 5px 0;
    }
    .footer-contact p {
        font-size: 14px;
        font-family: sans-serif;
        text-align: center;
    }
    .footer-icon {
        padding: 10px 0 5px 0;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-icon a {
        text-decoration: none;
        display: inline-block;
        margin: 0 5px;
    }
    .footer-icon a i {
        color: #000;
    }
    .footer-copyrights p {
        font-size: 12px;
        font-family: sans-serif;
        text-align: center;
        padding: 10px 0;
    }
}
@media screen and (min-width: 768px) {

    .footer-item-list {
        padding: 20px 0 ;
    }
    .footer-item {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-logo {
        width: 85px;
        height: 85px;
    }
    .footer-logo img {
        width: 100%;
        vertical-align: middle;
    }
    .footer-info {
        line-height: 30px;
        margin: 0 30px;
    }
    .footer-info h3 {
        font-size: 16px;
        font-family: sans-serif;
        line-height: 20px;
        margin: 5px 0;
    }
    .footer-info p {
        font-size: 14px;
        font-family: sans-serif;
    }
    /* 顧客服務 */
    .customer-service {
        margin: 0 30px;
    }
    .customer-service h3 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .customer-service a {
        color: #000;
        font-size: 14px;
        text-decoration: none;
        display: block;
        line-height: 20px;
    }
    /* 聯絡我們 */
    .footer-contact {
        margin: 0px 20px;
    }
    .footer-contact h3 {
        margin: 10px 0;
        font-size: 16px;
        font-family: sans-serif;
    }
    .footer-icon{
        padding: 10px 0;
    }
    .footer-contact p {
        font-size: 14px;
        padding: 5px 0;
    }
    .footer-contact a {
        text-decoration: none;
    }
    .footer-contact a i {
        color: #000;
    }
    /* copyrights */
    .footer-copyrights p {
        font-size: 12px;
        font-family: sans-serif;
        text-align: center;
        margin-top: 20px;
    }
}

/* ---------------------------------------- */
/* 內頁共用 */
.banner-pic img {
    width: 100%;
    vertical-align: middle;
}

@media screen and (max-width: 767px) {

    /* banner */
    .banner-pic {
        width: 757px;
        position: relative;
    }

    .banner-txt {
        text-align: center;
        background-color: hsl(0, 100%, 100%, 60%);
        position: absolute;
        top: 20px;
        left: 200px;
        padding: 10px 20px;
    }

    .banner-txt h2 {
        font-size: 18px;
        line-height: 30px;
    }

    .banner-txt h3 {
        font-size: 14px;
        font-family: "simonetta";
    }

    /* ---------------------麵包屑-------------------- */
    .nav-breadcrumb {
        height: 16px;
        padding: 10px 10px;
        text-align: center;
        font-family: sans-serif;
    }

    .nav-breadcrumb ol {
        display: flex;
    }

    .nav-breadcrumb ol li {
        font-size: 16px;
        line-height: 20px;
    }

    .nav-breadcrumb ol li a {
        color: #000;
        text-decoration: none;
    }

}

@media screen and (min-width: 768px) {
    .banner-pic {
        width: 1263px;
        position: relative;
    }

    .banner-txt {
        text-align: center;
        background-color: hsl(0, 100%, 100%, 60%);
        position: absolute;
        top: 50px;
        left: 570px;
        padding: 10px 20px;
    }

    .banner-txt h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .banner-txt h3 {
        font-size: 16px;
        font-family: "simonetta";
    }

    /* 麵包屑 */
    .nav-breadcrumb {
        height: 20px;
        padding-left: 190px;
    }

    .nav-breadcrumb ol {
        display: flex;
    }

    .nav-breadcrumb ol li {
        font-size: 16px;
        line-height: 20px;
    }

    .nav-breadcrumb ol li a {
        color: #000;
        text-decoration: none;
    }
}

/* ----------------------------------------- */
/* 第 2 頁:Festival */
@media screen and (max-width: 767px) {
    .product-categories {
        padding: 30px 0;
    }
    .festival-item {
        text-align: center;
    }
    .festival-item h4 {
        font-size: 20px;
        text-align: center;
    }
    .product-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
    .product-card {
        background-color: #EFEEEE;
        margin: 0 10px;
    }
    .product-card-pic {
        width: 200px;
        height: 200px;
    }
    .product-card-pic img {
        width: 100%;
        vertical-align: middle;
    }
    .product-card h5 {
        font-size: 14px;
        padding: 10px 5px;
    }
    .product-card p {
        font-size: 16px;
        padding: 10px 5px;
    }
    .festival-more {
        text-align: center;
        margin-top: 20px;
    }
    .festival-more a {
        color: #000;
        font-size: 12px;
        font-family: sans-serif;
        text-decoration: none;
        background-color: #CDCFA7;
        padding: 5px 10px;
        border-radius: 20px;
    }
}

@media screen and (min-width: 768px) {
    .product-categories {
        padding: 30px 0;
    }
    .festival-item {
        text-align: center;
    }
    .festival-item h4 {
        font-size: 20px;
        text-align: center;
    }
    .product-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
    .product-card {
        background-color: #EFEEEE;
        margin: 0 10px;
    }
    .product-card-pic {
        width: 200px;
        height: 200px;
    }
    .product-card-pic img {
        width: 100%;
        vertical-align: middle;
    }
    .product-card h5 {
        font-size: 14px;
        padding: 10px 5px;
    }
    .product-card p {
        font-size: 16px;
        padding: 10px 5px;
    }
    .festival-more {
        text-align: center;
        margin-top: 20px;
    }
    .festival-more a {
        color: #000;
        font-size: 12px;
        font-family: sans-serif;
        text-decoration: none;
        background-color: #CDCFA7;
        padding: 5px 10px;
    }
}

/* 第 3 頁: about-us */

@media screen and (max-width: 767px) {
    .about-shop-pic {
        width: 250px;
        height: 250px;
        margin: auto;
        display: none;
    }

    .about-shop-pic img {
        width: 100%;
        vertical-align: middle;
    }

    .about-txt {
        height: 250px;
        padding-top: 50px;
    }

    .about-txt p {
        font-size: 16px;
        line-height: 40px;
        text-align: center;
    }

    .about-info-txt {
        text-align: center;
        padding: 0 50px;
        height: 300px;
    }

    .about-info-txt p {
        padding: 40px;
        font-size: 14px;
        line-height: 50px;
        text-align: center;
    }
}

@media screen and (min-width: 768px) {
    .about-shop-pic {
        width: 880px;
        height: 300px;
        margin: auto;
        display: flex;
        gap: 10px;
    }
    .about-shop-pic img {
        width: 100%;
        vertical-align: middle;
    }
    .about-txt {
        height: 250px;
        padding-top: 50px;
    }
    .about-txt p {
        font-size: 16px;
        line-height: 40px;
        text-align: center;
    }
    .about-info {
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-map {
        width: 600px;
        height: 450px;
    }
    .about-info-txt {
        height: 450px;
        text-align: center;
        background-color: #F0E9E3;
    }
    .about-info-txt p {
        padding-top: 80px;
        font-size: 14px;
        line-height: 50px;
        text-align: center;
    }
}
@media screen and (min-width: 1024px) {
    .about-shop-pic {
        width: 880px;
        height: 300px;
        margin: auto;
        display: flex;
        gap: 10px;
    }
    .about-shop-pic img {
        width: 100%;
        vertical-align: middle;
    }
    .about-txt {
        height: 250px;
        padding-top: 50px;
    }
    .about-txt p {
        font-size: 16px;
        line-height: 40px;
        text-align: center;
    }
    .about-info {
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-map {
        width: 600px;
        height: 450px;
    }
    .about-info-txt {
        height: 450px;
        text-align: center;
        padding: 0 50px;
        background-color: #F0E9E3;
    }
    .about-info-txt p {
        font-size: 14px;
        line-height: 50px;
        text-align: center;
        padding-top: 80px;
    }
}

/* 第 4 頁:product */

@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) {}

/* 第 5 頁: course*/
@media screen and (max-width: 767px) {
    .seasonal-flower-course {
        background-image:url(../images/material/dust.png);
        padding: 20px 0;
    }
    .flower-courses {
        max-width: 1200;
    }
    .courses-title h4 {
        font-size: 16px;
        text-align: center;
        padding: 5px 0;
    }
    .courses-title p {
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        padding: 5px 0;
    }
    .courses-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .courses-card {
        margin: 10px;
    }
    .courses-card-pic {
        width: 150px;
        height: 150px;
    }
    .courses-card-pic img {
        width: 100%;
        vertical-align: middle;
    }
    .courses-card h5 {
        font-size: 14px;
        font-family: sans-serif;
        text-align: center;
        padding: 5px 5px;
    }
    .courses-card p {
        font-size: 16px;
        font-family: "simonetta";
        text-align: center;
        padding: 0 5px;
    }
/* ------------頁數------------- */
    .pagination {
        display: inline-block;
        margin: 30px 100px;
    }
    .pagination a {
        color: black;
        float: left;
        width: 30px;
        height: 30px;
        border: 1px solid #ddd;
        margin: 0 4px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        transition: background-color .3s;
        border-radius: 50%; /* 將邊框設置為圓形 */
    }
    .pagination a.active {
        color: white;
        border: 1px solid #EFCFD0;
        background-color: #EFCFD0;
    }
    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
}
@media screen and (min-width: 768px) {
    .seasonal-flower-course {
        background-image:url(../images/material/dust.png);
        padding: 40px 0;
    }
    .flower-courses {
        max-width: 1200;
    }
    .courses-title h4 {
        font-size: 22px;
        text-align: center;
        padding: 5px 0;
    }
    .courses-title p {
        font-size: 14px;
        font-family: sans-serif;
        text-align: center;
        line-height: 20px;
        padding: 5px 0;
    }
    .courses-cards {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .courses-card {
        margin: 10px;
    }
    .courses-card-pic {
        width: 200px;
        height: 200px;
    }
    .courses-card-pic img {
        width: 100%;
        vertical-align: middle;
    }
    .courses-card h5 {
        font-size: 14px;
        font-family: sans-serif;
        padding: 5px 5px;
    }
    .courses-card p {
        font-size: 16px;
        font-family: "simonetta";
        padding: 0 5px;
    }
    /* ------------頁數------------- */
    .pagination {
        display: inline-block;
        margin: 30px 480px;
    }
    .pagination a {
        color: black;
        float: left;
        width: 30px;
        height: 30px;
        border: 1px solid #ddd;
        margin: 0 4px;
        line-height: 30px;
        text-align: center;
        text-decoration: none;
        transition: background-color .3s;
        border-radius: 50%; /* 將邊框設置為圓形 */
    }
    .pagination a.active {
        color: white;
        border: 1px solid #EFCFD0;
        background-color: #EFCFD0;
    }
    .pagination a:hover:not(.active) {
        background-color: #ddd;
    }
    
}

/* 第 6 頁:contact */
@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) {
    .contact-us {
        width: 400px;
        height: 500px;
        margin: 10px 450px;
        border-radius: 20px;
        background-color: #F0E9E3;
    }
    .contact-us h2 {
        font-size: 24px;
        text-align: center;
        padding: 40px 0;
    }
    .contact-info-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-info {
        margin: 5px;
    }
    .contact-info h3 {
        font-size: 14px;
        margin: 5px;
    }
    .contact-info input {
        background-color: #F0E9E3;
        height: 20px;
        border: 1px solid #000;
        outline: none;
    }
    .contact-info textarea {
        background-color: #F0E9E3;
        border: 1px solid #000;
        outline: none;
    }
    .send-out a {
        color: #000;
        font-size: 14px;
        font-family: sans-serif;
        text-decoration: none;
        background-color: #F1DFD5;
        padding: 10px 40px;
        border-radius: 3px;
        margin-top: 20px;
        display: inline-block;
    }
}

/* 第 7 頁:Productinfo 商品選購列表  */
.section-purchase-course {
    background-color: #fff;
}
@media screen and (max-width: 767px) {}


@media screen and (min-width: 768px) {
    /* courseinfo.html 與 Productinfo 商品列表 共用*/
    /* 圖片區 */
    .purchase-course-info {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 60px;
    }
    .purchase-course-pic {
        height: 500px;
        display: flex;
        margin: 0 30px;
    }
    .purchase-course-pic-s {
        width: 75px;
        height: 75px;
        display: flex;
        flex-direction: column;
        margin-right: 2px;
    }
    .purchase-course-pic-s img {
        width: 100%;
        vertical-align: middle;
        margin-bottom: 2px;
        cursor: pointer;
    }
    .purchase-course-pic-m {
        width: 308px;
        height: 308px;
    }
    .purchase-course-pic-m img {
        width: 100%;
        vertical-align: middle;
    }
    .purchase-course-infom {
        height: 500px;
    }
    .purchase-course-txt h2 {
        padding-bottom: 10px;
        font-size: 20px;
    }
    .purchase-course-txt p {
        font-size: 12px;
        border-left: 1px solid #000;
        padding-left: 10px;
    }
    .purchase-course-txt span {
        font-size: 16px;
        padding: 15px 0;
        display: inline-block;
    }
    .purchase-course-quantity {
        margin: 10px 0;
    }
    .purchase-course-quantity p {
        font-size: 12px;
        margin-bottom: 10px;
    }
    .course-quantity {
        display: flex;
    }
    .course-quantity button {
        border: 3px solid #F0E9E3;
        width: 27px;
        height: 27px;
    }
    .course-quantity .number {
        border-top: 1px solid #CDCFA7;
        border-bottom: 1px solid #CDCFA7;
        padding: 5px 50px;
    }
    .purchase-course-date p {
        font-size: 12px;
        margin: 5px 0;
    }
    .date-choose {
        display: flex;
        flex-direction: column;
    }
    .date-choose button {
        width: 155px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 20px;
        margin: 5px 0;
    }
    .date-choose button:nth-child(1) {
        background-color: #CDCFA7;
        border: 1px solid #fff;
    }
    /* 文字介紹 價錢區*/
    .purchase-product-infom {
        height: 500px;
    }
    .purchase-product-txt h2 {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .purchase-product-txt p {
        font-size: 12px;
        border-left: 3px solid #EFCFD0;
        padding-left: 10px;
        line-height: 20px;
    }
    .purchase-product-txt span {
        display: block;
        font-size: 18px;
        margin: 20px 0;
    }
    .purchase-product-quantity {
        margin: 10px 0;
    }
    .purchase-product-quantity p {
        margin: 10px 0;
        font-size: 12px;
    }
    .product-quantity {
        display: flex;
    }
    .product-quantity button {
        width: 27px;
        height: 27px;
        border: 1px solid #000;
        background-color: #fff;
    }
    .product-quantity .number {
        border: 1px solid #000;
        padding: 5px 45px;
    }
    .purchase-product-favorites {
        margin: 15px 0;
    }
    .purchase-product-favorites button {
        width: 155px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 20px;
    }
    .purchase-product-cart {
        margin: 15px 0;
    }
    .purchase-product-cart button {
        width: 155px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 20px;
    }
    /* 加入購物車 */
    .purchase-course-cart {
        margin: 10px 0;
    }
    .purchase-course-cart button {
        width: 155px;
        height: 30px;
        border: 1px solid #000;
    }
    .product-service-item-list{
        background: #fff;
    }
    /* 加入我的最愛 */
    .purchase-product-favorites button{
        width: 155px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 20px;
        margin: 10px 0;
    }
    .favorites-pic {
        width: 30px;
        height: 30px;
    }
    .favorites-pics img {
        width: 100%;
    }
    .purchase-course-favorites span {
        width: 155px;
        height: 30px;
        border: 1px solid #000;
        border-radius: 20px;
    }
    .service-item-list {
        height: 900px;
        margin: 30px 0;
        padding: 20px 0;
    }
    .service-item {
        display: flex;
        justify-content: center;
    }
    .service-item a {
        padding: 10px 20px;
        margin: 0 60px;
        border-radius: 20px;
        color: #000;
        background-color: #F0E9E3;
        font-size: 16px;
        text-decoration: none;
    }
    .service-info {
        margin: 30px 200px;
        text-align: center;
        background-color: #F0E9E3;
        padding: 40px 0;
    }
    .service-info h4 {
        font-size: 18px;
        padding: 10px 40px 5px 20px;
    }
    .service-info p {
        font-size: 14px;
        line-height: 25px;
        padding: 5px 40px 10px 20px;
    }
    /* 商品介紹 訂購須知 送貨與付款方式區*/
    .product-service-item-list {
        height: 500px;
        margin: 30px 0;
        padding: 20px 0;
    }
    .product-service-item {
        display: flex;
        justify-content: center;
    }
    .product-service-item a {
        padding: 10px 20px;
        margin: 0 60px;
        border-radius: 20px;
        color: #000;
        font-size: 16px;
        text-decoration: none;
    }
    .product-service-info {
        margin: 30px 200px;
        text-align: center;
        background-color: #F0E9E3;
        padding: 40px 0;
    }
    .product-service-info h4 {
        font-size: 18px;
        padding: 10px 40px 5px 20px;
    }
    .product-service-info p {
        font-size: 14px;
        line-height: 25px;
        padding: 5px 40px 10px 20px;
    }
}
/*第 8 頁:sign-in */
@media screen and (max-width: 767px) {
    .section-sign-in {
        height: 400px;
    }
    .sign-in {
        width: 420px;
        padding: 40px 0;
        margin: auto;
    }
    .sign-in h2 {
        font-size: 24px;
        padding: 20px 0;
    }
    .account-password input {
        color: #FFF;
        border: 1px solid #FFF;
        border-radius: 3px;
        background-color: #EFCFD0;
    }
    .forget-password {
        margin: 10px 0;
    }
    .forget-password a {
        font-size: 12px;
    }
    .account-password button {
        color: #FFF;
        font-size: 14px;
        font-family: sans-serif;
        outline: none;
        background-color: #EFCFD0;
        padding: 5px 90px;
        border: 1px solid #FFF;
        border-radius: 3px;
    }
    .other-sign-in {
        display: flex;
    }
    .registered {
        padding: 50px 0;
    }
    .registered h3 {
        font-size: 20px;
        margin: 10px 0;
    }
    .registered button {
        color: #EFCFD0;
        font-size: 14px;
        font-family: sans-serif;
        padding: 5px 80px;
        border: 1px solid #EFCFD0;
        border-radius: 3px;
        background-color: #FFF;
    }
}
@media screen and (min-width: 768px) {
    .section-sign-in {
        height: 500px;
    }
    .sign-in {
        width: 420px;
        padding: 40px 0;
        margin: auto;
    }
    .sign-in h2 {
        font-size: 24px;
        padding: 20px 0;
    }
    .account-password input {
        color: #FFF;
        border: 1px solid #FFF;
        border-radius: 3px;
        background-color: #EFCFD0;
    }
    .forget-password {
        margin: 10px 0;
    }
    .forget-password a {
        font-size: 12px;
    }
    .account-password button {
        color: #FFF;
        font-size: 14px;
        font-family: sans-serif;
        outline: none;
        background-color: #EFCFD0;
        padding: 5px 90px;
        border: 1px solid #FFF;
        border-radius: 3px;
    }
    .other-sign-in {
        display: flex;
    }
    .registered {
        padding: 50px 0;
    }
    .registered h3 {
        font-size: 24px;
        margin: 10px 0;
    }
    .registered button {
        color: #EFCFD0;
        font-size: 14px;
        font-family: sans-serif;
        padding: 5px 80px;
        border: 1px solid #EFCFD0;
        border-radius: 3px;
        background-color: #FFF;
    }
}
/* 第 00 頁:Festival */
@media screen and (max-width: 767px) {}

@media screen and (min-width: 768px) {}